#modalContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  z-index: 10000;
}

#alertBox {
  position: relative;
  width: 320px;
  min-height: 100px;
  margin-top: 50px;
  border: 1px solid #666;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 20px 30px;
}

#modalContainer > #alertBox {
  position: fixed;
}

#alertBox h1 {
  margin: 0;
  font-size: 20px;
  border: none;
  font-family: sans-serif;
  text-align: center;
  background-color: #3073bb;
  color: #fff;
  padding: 2px;
}

#alertBox p {
  font-size: 14px;
  text-align: center;
  padding: 15px 10px;
}

#alertBox #closeBtn {
  display: block;
  position: relative;
  margin: 5px auto;
  padding: 7px;
  border: 0 none;
  width: 70px;
  font: 0.7em verdana, arial;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #357ebd;
  border-radius: 3px;
  text-decoration: none;margin-bottom: 15px;
}
