* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
body > .container {
  text-align: center;
}
body > .container > h1 {
  font-size: 45px;
  font-family: cursive;
}
body > .container > img {
  width: 50%;
}
.f_copyright {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: cursive;
  font-style: italic;
}
.f_copyright > a {
  color: rgb(255, 0, 115);
  font-weight: bolder;
}
